@media only screen and (max-width: 1200px) {
  .card {
    height: 60%;
    width: 30%;
  }
  .card-list {
    margin-top: 15%;
  }
}
@media only screen and (max-width: 1023px) {
  .navbar-nav {
    position: relative;
    left: 30%;
  }
  .about-text {
    margin-top: 15vh;
    padding: 30px;
  }
  .img-thumbnail {
    height: 16vh;
    padding: 10px;
    margin-bottom: 60px;
  }
  #projects {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    padding: 20px;
  }
  .project-item img {
    max-height: 180px;
  }

  .card {
    height: 70%;
    width: 30%;
  }
}
@media only screen and (max-width: 767px) {
  .card {
    height: 60%;
    width: 40%;
  }
  .about-content {
    flex-direction: column;
  }
  .about-text {
    width: 100%;
  }
  .about-thumbnails {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 8vh;
  }
  #projects {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: scroll;
  }
  #projects::-webkit-scrollbar {
    display: none;
  }
  .project-item img {
    max-height: 230px;
  }
}
@media only screen and (max-width: 660px) {
  .about-thumbnails {
    margin-top: 6vh;
    justify-content: center;
  }
  .img-thumbnail {
    height: 12vh;
    padding: 10px;
    margin-bottom: 60px;
  }
  .card {
    height: 50%;
    width: 50%;
  }
  .card-list {
    margin-top: 10%;
    font-size: 120%;
  }
}
@media only screen and (max-width: 480px) {
  .img-thumbnail {
    height: 9vh;
    padding: 10px;
    margin-bottom: 60px;
  }
  .card {
    height: 40%;
    width: 60%;
  }
  .card-list {
    margin-top: 8%;
    font-size: 115%;
  }
}
@media only screen and (max-width: 360px) {
}
