* {
  box-sizing: border-box;
}

/* -------------------------------------------- */
#hero {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/hero.webp);
  height: 100vh;
}

.navbar {
  position: relative;
  top: 20px;
  background-color: #f1f1f1;
}
.navbar-nav {
  position: relative;
  left: 35%;
}

.hero-heading {
  margin-top: 150px;
  color: white;
  font-size: 500%;
}
.hero-subtext {
  color: white;
  font-size: 200%;
}

/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
#about {
  background-color: #eee;
  height: 100vh;
}
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
#projects {
  height: 100vh;
}
.project-slider {
  padding-top: 60px;
}
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
#contact {
  height: 100vh;
  background-color: #333333;
}
.card-contact {
}
